.hide{
    display: none !important;
}
.r3{
    color: dodgerblue;
}
.r4{
    color: blueviolet;
}
.r5{
    color: goldenrod;
}
.ch.Anemo::before{
    background-image: url("img/anemo.png");
}
.ch.Cryo::before{
    background-image: url("img/cryo.png");
}
.ch.Electro::before{
    background-image: url("img/electro.png");
}
.ch.Geo::before{
    background-image: url("img/geo.png");
}
.ch.Hydro::before{
    background-image: url("img/hydro.png");
}
.ch.Pyro::before{
    background-image: url("img/pyro.png");
}
.wp::before{
    background-image: url("img/wep.png");
}
.ch::before,.wp::before{
    content:"";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

[class^="pity-"]{
    font-weight: bold;
}
.pity-low{
    color: #0f0;
}
.pity-med{
    color: #ff0;
}
.pity-high{
    color: #f00;
}
.pity-max{
    color: #a0a;
}
.pity-1{
    color: #cf0;
}
.pity-2{
    color: #ff0;
}
.pity-3{
    color: #fd0;
}
.pity-4{
    color: #fb0;
}
.pity-5{
    color: #f90;
}
.pity-6{
    color: #f70;
}
.pity-7{
    color: #f50;
}
.pity-8{
    color: #f30;
}
.pity-9{
    color: #f10;
}
.pity-10{
    color: #e00;
}
.pity-11{
    color: #c00;
}
.pity-12{
    color: #c00;
}

#view {
    overflow: hidden;
    border-width: 2px 2px 0 2px;
    border-style: solid;
    border-color: gainsboro;
    background-color: antiquewhite;
    width: 900px;
    font-family: "Default_SC 85w", sans-serif;
    font-size: 14px;
    line-height: 1.15;
}

#banner-tabs{
    display: flex;
    flex-direction: row;
}

#banner-tabs button {
    background-color: gainsboro;
    border-width: 2px 2px 0 2px;
    border-radius: 20px 20px 0 0;
    border-style: solid;
    border-color: dimgrey;
    border-collapse: collapse;
    outline: none;
    cursor: pointer;
    padding: 15px;
    transition: 0.3s;
    font-size: 16px;
}

#banner-tabs button:hover {
    background-color: burlywood;
}

#banner-tabs .tab-selected {
    background-color: burlywood;
}

#banner-content {
    background-color: gainsboro;
    border-width: 1px 2px 2px 2px;
    border-style: solid;
    border-color: dimgrey;
    border-collapse: collapse;
}
#banner-content thead{
    position: sticky;
    top:0;
    background-color: gainsboro;
    z-index: 1;
}
#banner-content tbody tr:hover{
    background-color: navajowhite;
}
#banner-content > div{
    display: grid;
    grid-template-columns: 70fr 5px 30fr;
}
.separator{
    width: 5px;
    height: 100%;
    background-color: green;
    cursor: col-resize;
}
.banner-table{
    height: 500px;
    overflow-y: scroll;
}
.banner-overview{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
    background-color: gainsboro;
    font-size: 20px;
}
.banner-overview > div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: 5px solid steelblue;
    border-radius: 10px;
}
.banner-overview .label{
    flex: auto;
}
.banner-overview .value{
    flex: initial;
}
.banner-overview .value.guarantee::after{
    content: "G";
    font-size: 20px;
    color: #ee0;
    font-weight: bold;
}